/* css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    font-family: sans-serif !important;
}

/* Custom css */
#banker-loan-container,
#loan-modal,
#repay-loan-button{
    display: none;
}

#repay-loan-button.has-loan,
#banker-loan-container.has-loan,
#loan-modal.modal-visible,
#laptop-information{
    display: block;
}
#content{
    max-width: 800px;
    margin: 0 auto;
}
.row-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.row-1 > div{
    background: #c5d7e5;
    padding: 20px;
    border-radius: 20px;
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.row-2{
    margin-top: 20px;
}
#laptop-information{
    display: flex;
    flex-wrap: wrap;
    background: #c5d7e5;
    padding: 20px;
    border-radius: 20px;
    margin: 0 10px;
}
#laptop-information > div{
    flex: 1;
    width: auto;
    margin: 0 10px;
}
#laptop-img{
    max-width: 200px;
}
#laptop-pay-button,
.btn-container > a,
#loan-button,
#repay-loan-button.has-loan,
#loan-request-button{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
}
#laptop-pay-button{
    background: #2a9b5b;
    border: 1px solid #2a9b5b;
    transition: .5s;
}
#laptop-pay-button:hover{
    color: #2a9b5b;
    background: transparent;
}
#laptop-price-total{
    font-size: 40px;
    font-weight: bold;
}
#laptop-payment-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2,
.modal-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.banker-balance-container,
#banker-loan-container.has-loan,
.banker-pay-container{
    display: flex;
    justify-content: space-between;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
#loan-request-button{
    margin-top: 50px;
}
#loan-button,
#repay-loan-button{
    text-align: center;
    margin-top: 20px;
}
.laptop-feature{
    margin-left: 20px;
}
#laptop-specs-list{
    margin-top: 10px;
}
#work-button{
    background: #8ea40d;
    border: 1px solid #8ea40d;
    transition: .5s;
}
#work-button:hover{
    color: #8ea40d;
    background: transparent;
}
#bank-button{
    background: #5825da;
    border: 1px solid #5825da;
    transition: .5s;
}
#bank-button:hover{
    color: #5825da;
    background: transparent;
}
#loan-button{
    background: #5825da;
    border: 1px solid #5825da;
    transition: .5s;
}
#loan-button:hover{
    color: #5825da;
    background: transparent;
}
#bank-button,
#repay-loan-button,
#loan-request-button{
    background: #9156a9;
    border: 1px solid #9156a9;
    transition: .5s;
}
#bank-button:hover,
#repay-loan-button:hover,
#loan-request-button:hover{
    color: #9156a9;
    background: transparent;
}
.modal-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .5;
}
.modal-content{
    position: fixed;
    height: 200px;
    width: 400px;
    background: #FFF;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}